@page
@model AppNetRazor.Pages.AcercaModel
@{
}

<div>
    <h1 class="text-primary">Acerca de</h1>
    <p class="lead">
        Jorge Ariel Claros Orellana
    </p>

    <h2 class="mt-4">Un poco de información</h2>
    <ul class="list-group">
        <li class="list-group-item">
            Estudiante de Univalle
        </li>
        <li class="list-group-item">
            Cursando la carrera de Ingeniería de Sistemas Informáticos
        </li>
        <li class="list-group-item">
            Cursando el 4to Semestre de la carrera
        </li>
    </ul>
</div>